%h3 Category: #{@category.id} - #{@category.name}
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th= t(".title")
      %th= t(".status")
      %th= t(".author")
      %th
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to post.title, edit_admin_post_path(post)
        %td
          %span{:class => "label label-#{post.published ? "success" : "important"}"}= post.published ? t(".published") : t(".not_published")
        %td
          %span= post.user.name
        %td= link_to t(".edit"), edit_admin_post_path(post), class: "btn btn-small"
        %td= link_to t(".delete"), [:admin, post],data: {confirm: 'Are you sure?'}, method: :delete, class: "btn btn-small btn-danger"
